GROQ_API_KEY=
QDRANT_API_KEY=
QDRANT_URL=
FRONTEND_URL=
FRONTEND_PROD_URL=

POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=

POSTGRES_MASTER_USER=
POSTGRES_MASTER_PASSWORD= 
POSTGRES_MASTER_DB=

POSTGRES_APP_USER=
POSTGRES_APP_PASSWORD= 
POSTGRES_APP_DB=
JWT_SECRET=