langchain-community
python-dotenv
langchain
langchain-core
langchain-community
fastapi
uvicorn
requests
langgraph-checkpoint-sqlite
langchain_groq
psycopg2-binary 
uuid
slowapi
bcrypt
python-jose
passlib[bcrypt]
qdrant-client[fastembed]
langchain-qdrant