langchain-google-genai
langchain-community
python-dotenv
langchain
langchain-core
langchain-community
fastapi
uvicorn
requests
langgraph-checkpoint-sqlite
langchain_groq
pyjwt 
psycopg2-binary 
python-jose 
email-validator
uuid
slowapi