bcrypt
fastapi
langchain
langchain-community
langchain-core
langchain-groq
langchain-qdrant
langgraph-checkpoint-sqlite
pandas
passlib[bcrypt]
psycopg2-binary
pydantic
python-dotenv
python-jose
qdrant-client[fastembed]
requests
slowapi
sqlalchemy
uvicorn